/* Red background box (optional) */
.logo-box {
  width: 130x;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3558e5; /* red */
}

/* The white circle */
.logo-circle {
  width:100px;
  height: 100px;
  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden; /* this is the magic for circle crop */
}

/* The image inside the circle */
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills circle, but may crop edges */
}

